# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
main.js
*.js.map

# obsidian
data.json

#vscode
.vscode

#buildfiles
settings.js
view/App.js
ReactView.js
settings.js
view.js