/* Empty. change later */

.book {
    border: 1px solid var(--background-modifier-border);
    padding: 10px;
  }
  
  .book__title {
    font-weight: 600;
  }
  
  .book__author {
    color: var(--text-muted);
  }

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #ffffff;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}